.Navbar{
    background: rgb(179, 26, 27);
    height: 6rem;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0; 
    width: 100vw; 
    z-index: 3;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
    display: flex;
    align-items: center;
  }
  
.navbar-logo img {
    height: 65px; /* Adjusted size for better alignment */
    cursor: pointer;
}